<div class="centered-content">
    <div class="modal-box">
      <h1 class="title">
        Tworzenie nowego zadania
      </h1>
    
      <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Wpisz nazwe zadania...">
        <br><br>
      <div class="buttons is-right">
        <button class="button is-medium" routerLink="/">Anuluj</button>
        <button class="button is-primary has-text-white is-medium" (click)="creatTask(taskTitleInput.value)">Utwórz</button>
      </div>
    </div>
  </div>
