<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Listy
            </h1>

            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
                    <p>{{ list.title }}</p>
                </a>

            </div>

            <Button class="button is-primary has-text-white" routerLink="/new-list">+ Nowa Lista</Button>
            <br>
            <Button class="button is-primary has-text-danger" (click)="onLogoutClick()">Wyloguj</Button>

        </div>
        
        <div class="task-list-container has-background-light">
            <div *ngIf="tasks">
                <div class="top-bar">
                   <h1 class="title has-text-primary">
                    Zadania
                    </h1> 

                    <div class="dropdown is-hoverable is-right">
                        <div class="dropdown-trigger">
                          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                            <span class="icon is-small">
                              <i class="fas fa-cog" aria-hidden="true"></i>
                            </span>
                          </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                          <div class="dropdown-content">
                            <a [routerLink]="['/edit-list', selectedListId]" class="dropdown-item">
                              Edytuj
                            </a>
                            <a (click)="onDeleteListClick()" class="dropdown-item has-text-danger">
                              Usuń
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                
                <!--Elementy zadan-->
                <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }">
                    <div class="task-text">
                        <p>{{ task.title }}</p>
                    </div>
                    <div class="task-buttons">
                        <button class="button" [routerLink]="['/lists', selectedListId, 'edit-task', task._id]">
                            <div class="icon">
                              <i class="fas fa-edit"></i>
                            </div>
                          </button>
              
                          <button class="button is-danger" (click)="onDeleteTaskClick(task._id)" style="margin-left: 10px;">
                            <div class="icon">
                              <i class="fas fa-trash"></i>
                            </div>
                          </button>
                    </div>
                </div>

                <h3 class="empty-state-text" *ngIf="tasks.length==0">Nie masz żadnych zadań na swojej liście, dodaj jakieś nowe :)</h3>

                <button routerLink="./new-task" class="circle-add-button button is-primary">
                    <img src="../../../assets/plus-icon.svg" alt="plusik">
                </button>
            </div>

            <div *ngIf="!tasks">
                <h3 class="empty-state-text">Wybierz proszę jakąś ze swoich list :)</h3>
            </div>
        </div>
    </div>
</div>
